@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #e5e5e5;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(1.1);
}

button:focus,
input:focus {
  outline: 0;
}

header { 
  padding: 50px 0;  /* top bottom left + right */ 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-image: url(/static/header-bg.jpeg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 
  color: #fff; 
  /* background-blend-mode: ; */
}
/* 
if doing background-blend-mode use the following to ensure text isn't displayed with blend mode 
header * { z-index: 5 } 
*/





.header-title {
  font-size: 35px;
  font-weight: 600;
}

.form-container { 
  width: 800px;
  max-width: 100%;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: 0 auto;
}



/* .form-control {
} */



.form-control input {
  border:0;
  border-radius: 25px;
  font-size: 14px;
  padding: 15px 30px; 
  width: 100%;
  text-align: center;
  
}

.form-control form { 
  position: relative;
  width: 500px;
  max-width: 100%;

}




.btn-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-container button { 
  border: 0;
  border-radius: 15px;
  width: 50%;
  text-align: center;
  margin-left: 10px;
  margin-top: 1em;
  padding: 10px 20px; 
  background-color: #56cfe1;
} 

.btn {
  background-color: #2F9C95;
  border: 0 ;
  border-radius: 10px;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  justify-content: center;
}

ul.songs { 
  list-style-type: none;
  padding: 0; 
  width: 100%;
}

ul.songs li { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.container { 
  margin: 30px auto;
  max-width: 100%;
  width: 800px;
}


.btn-container { 
  max-width: 100%; 
}

.cont-grid { 
  display: grid; 
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}




.link video { 
  margin-left: 3em;
  width: 100%; 
}

.images { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.images img { 
  position: absolute;
  top:-50px ;
  left: 10px;
  bottom: 10px;
}



.list-item { 
  align-items: center;
  justify-content: center;
}

.card { 
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;

}

.grid-container { 
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: 740px; 
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center; 
  padding-bottom: 2em;
}

.card-image { 
  object-fit: cover;
  background-size: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.preview-container { 
  position: relative;

}

.preview-container audio { 
  position: absolute; 
  top: -90px;
  right: -300px;
} 


.card-title { 
  color: #000;
  margin: 0 ;
  text-align: center;
}


.error { 
  text-align: center;
}



.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
 }
/* ARTIST DESCRIPTION PAGE */
.row { 
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: 300px; 
  height: 500px;
  margin: 0 auto;
  margin-bottom: 1em;
  text-align: center; 
  padding-bottom: 1em;
}

.card-image { 
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image img { 
  object-fit: cover;
  width: 100%;
  height: 50%;
  text-align: center;

}

.songs-ul { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  list-style-type: none;

}

.song-ul li { 
  text-align:center; 
  margin: 0 auto; 
  list-style-type: none;
  position: absolute;

}

.card-content { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item { 
  margin-top: 1em;
}